<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family:"montserret", sans-serif;
            background-color: rgb(53, 53, 53);
            color: aliceblue;
        }
    </style>
    <title>Login Page</title>
</head>
<body>
    <h2>Login form</h2>
    <div>
        <form action="/login" method="post">
            <Lable>Email</Lable>
            <input type="email" name="email">
            <Lable>password</Lable>
            <input type="type" name="password">
            <button type="submit">Log In</button>
        </form>
    </div>
</body>
</html>