<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family:"montserret", sans-serif;
            background-color: rgb(53, 53, 53);
            color: aliceblue;
        }
    </style>
    <title>Signup form</title>
</head>
<body>
    <h2>Signup form</h2>
    <div>
        <form action="/user/signup" method="post">
            <lable>full Name</lable>
            <input type="text" name="fullname" placeholder="Hassam Ayub">
            <lable>Email</lable>
            <input type="email" name="email" placeholder="Hassam@gmail.com">
            <lable>full Name</lable>
            <input type="text" name="password" placeholder="****">
            <button type="submit">Sign up</button>
        </form>
    </div>

    <% if (locals.msg) { %>
     <h3>user create Successfull by email: <%= msg %></h3>
    <% } %>
    <br>
    <div>
        <button onclick="window.location.href='/'">Go to Home</button>
    </div>
</body>
</html>